
@{
    ViewBag.Title = "UpdatePayGrade";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

<section class="content-header">
    <h1>Update Pay Grade</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Pay Grade</a></li>
        <li class="breadcrumb-item active"><a>Update Pay Grade</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/PayGrade/PayGradeList'">Pay Grade List</button>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Areas/Employee/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("UpdatePayGrade", "PayGrade", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/PayGradeForm")
                }
            </div>
        </div>
    </div>
</section>

