
@{
    ViewBag.Title = "UpdateEmployeeRole";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

<section class="content-header">
    <h1>Update Employee Role</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>EMployee</a></li>
        <li class="breadcrumb-item active"><a>Update Employee Role</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/EmployeeRole/EmployeeRoleList'">Employee Role List</button>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Areas/Employee/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("UpdateEmployeeRole", "EmployeeRole", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/EmployeeRoleForm")
                }
            </div>
        </div>
    </div>
</section>

