
@{
    ViewBag.Title = "AddLevelOfUrgency";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

<section class="content-header">
    <h1>Add Level of Urgency</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Level of Urgency</a></li>
        <li class="breadcrumb-item active"><a>Add Level of Urgency</a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/LevelOfUrgency/LevelOfUrgencyList'">Level of Urgency List</button>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Areas/Employee/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("AddLevelOfUrgency", "LevelOfUrgency", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/LevelOfUrgencyForm")
                }
            </div>
        </div>
    </div>
</section>
