
@{
    ViewBag.Title = "UpdateFleetVehicleBookingReport";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

<section class="content-header">
    <h1>Update Vehicle Booking Report</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Fleet Management</a></li>
        <li class="breadcrumb-item"><a>Vehicle</a></li>
        <li class="breadcrumb-item active"><a>Update Vehicle Booking Report</a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/FleetVehicleBookingReport/FleetVehicleBookingReportList'">Vehicle Booking Report List</button>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Areas/Employee/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("UpdateFleetVehicleBookingReport", "FleetVehicleBookingReport", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/FleetVehicleBookingReportForm")
                }
            </div>
        </div>
    </div>
</section>
