
@{
    ViewBag.Title = "AddLeaveType";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

<section class="content-header">
    <h1>Add Leave Type</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Leave Type</a></li>
        <li class="breadcrumb-item active"><a>Add Leave Type</a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/LeaveType/LeaveTypeList'">Leave Type List</button>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Areas/Employee/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("AddLeaveType", "LeaveType", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/LeaveTypeForm")
                }
            </div>
        </div>
    </div>
</section>