
@{
    ViewBag.Title = "UpdateUnitOfMeasurement";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

<section class="content-header">
    <h1>Update Unit Of Measurement</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Utilities</a></li>
        <li class="breadcrumb-item active"><a>Update Unit Of Measurement</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/UnitOfMeasurement/UnitOfMeasurementList'">Unit Of Measurement List</button>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Areas/Employee/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("UpdateUnitOfMeasurement", "UnitOfMeasurement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/UnitOfMeasurementForm")
                }
            </div>
        </div>
    </div>
</section>

