@{
    ViewBag.Title = "AddEmployeeDeucation";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}


<section class="content-header">
    <h1>Add Employee</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Employee</a></li>
        <li class="breadcrumb-item active"><a>Add Employee</a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/Employee/EmployeeList'">Employee List</button>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("~/Areas/Employee/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("AddEmployeeEducation", "EmployeeAdditionalInformation", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/EmployeeEducation")
                }
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />

<section class="content">
    <div class="row" id="targetDiv">

    </div>
</section>

