

@model DTO.ItemRequisitionDTO
<div class="box-body">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Item Delivery</h3>
            </div>
            <div class="card-body">
                <input hidden type="number" value="@Model.ID" name="ID" />
              
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="EmployeeReceived" checked="@Model.EmployeeReceived" value="true">
                                <label class="form-check-label">Received Delivery</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Accept Delivery</button>
        </div>
    </div>
</div>





